<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.repository.mybatis.CnuRepository">
	<select id="selectCnuPostList" resultType="CnuPost">
		SELECT
			post_id AS postId,
			author,
			password,
			title,
			content,
			create_time AS createTime,
			is_del AS isDel
		FROM
			cnu_post
	</select>

	<select id="selectCnuPost" parameterType="int" resultType="CnuPost">
		SELECT
			post_id AS postId,
			author,
			password,
			title,
			content,
			create_time AS createTime,
			is_del AS isDel
		FROM
			cnu_post
		WHERE
			post_id = #{postId}
	</select>

	<insert id="insertCnuPost" parameterType="CnuPost">
		INSERT INTO cnu_post
			(author, password, title, content, create_time)
		VALUES
			(#{author}, #{password}, #{content}, #{title}, NOW())
		<selectKey resultType="int" keyProperty="postId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>
