<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.repository.mybatis.CnuRepository">
	<select id="selectCnuPostList" resultType="CnuPost">
		SELECT
			post_id AS postId,
			author,
			password,
			title,
			content,
			create_time AS createTime,
			view_count AS viewCount,
			is_del AS isDel
		FROM
			cnu_post
		WHERE
			is_del = 0
	</select>

	<select id="selectCnuCommentList" parameterType="int" resultType="CnuComment">
		SELECT
		comment_id AS commentId,
		post_id AS postId,
		author,
		password,
		comment,
		create_time AS createTime,
		is_del
		FROM
		cnu_post_comment
		WHERE
		post_id = #{postId} AND is_del = 0
	</select>

	<select id="selectCnuPost" parameterType="int" resultType="CnuPost">
		SELECT
			post_id AS postId,
			author,
			password,
			title,
			content,
			create_time AS createTime,
			is_del AS isDel
		FROM
			cnu_post
		WHERE
			post_id = #{postId}
	</select>

	<insert id="insertCnuPost" parameterType="CnuPost">
		INSERT INTO cnu_post
			(author, password, title, content, create_time)
		VALUES
			(#{author}, #{password}, #{title}, #{content}, NOW())
		<selectKey resultType="int" keyProperty="postId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="increaseViewCount" parameterType="CnuPost">
		UPDATE
			cnu_post
		SET
			view_count = view_count + 1
		WHERE
			post_id = #{postId}
	</update>

	<update id="deleteCnuPost" parameterType="CnuPost" >
		UPDATE
		cnu_post
		SET
		is_del = 1
		WHERE
		post_id = #{postId}
		AND
		password = #{password}
	</update>

	<update id="deleteCnuPostComment" parameterType="CnuPostComment" >
 		UPDATE
 		cnu_post_comment
 		SET
 		is_del = 1
 		WHERE
 		comment_id = #{commentId}
 		AND
 		password = #{password}
 	</update>
 	
	<insert id="insertCnuPostComment" parameterType="CnuPostComment">
		INSERT INTO cnu_post_comment
			(post_id,author, password, comment, create_time)
		VALUES
			(#{postId},#{author}, #{password}, #{comment}, NOW())
	</insert>
</mapper>
